params {
    config_prfile_description = 'University of British Columbia Sockeye HPC cluster profile'
    config_profile_url = 'https://arc.ubc.ca/ubc-arc-sockeye'
}

singularity {
    enabled = true
    envWhitelist='SINGULARITY_BINDPATH'
    autoMounts = true
}

process {
    beforeScript = 'module load singularity'
    executor = 'pbspro'
    queue = 'sockeye'
    clusterOptions = '-A st-sturvey-1'
}

// SOCKEYE NODE PARAMETERS
params {
    max_memory = 192.GB
    max_cpus = 32
    max_time = 3.h
}

// NFCORE RNASEQ PARAMETERS
params {
    input = 'samplesheet.csv'
    outdir = 'nfcore_rnaseq_output'
    genome = 'GRCh38'
    min_trimmed_reads = 1
}
