# Keep all READMEs
!README.md

# ignore contents inside
# Databases
Databases/References/GRCh37/*
Databases/References/GRCh38/*
Databases/Generic/*

# Open data
OpenData/ThousandGenomes/Raw/*
OpenData/ThousandGenomes/Processed/*
OpenData/Geuvadis/Raw/*
OpenData/Geuvadis/Processed/*

# Software
Software/miniconda3/*
Software/CellRanger/cellranger*
Software/CellRanger/refdata*
Software/UserDirs/*
Software/Rstudio/*

## keep software install starters
!Software/InstallMiniconda3.sh

# nohup stuff
*nohup.out

# Keep shell scripts, they small and useful
!*.sh



