# Keep all READMEs
!README.md

# Keep shell scripts, they small and useful
!*.sh

# ignore contents inside
# Databases
Databases/References/GRCh37/*
Databases/References/GRCh38/*
Databases/Generic/*

# Open data
OpenData/ThousandGenomes/Raw/*
OpenData/ThousandGenomes/Processed/*
OpenData/Geuvadis/Raw/*
OpenData/Geuvadis/Processed/*
OpenData/ThousandGenomes/HD_SNP_Chip/*

# Workshop data
Workshops/IntroToEWAS/data/*

# Software
Software/miniconda3/*
Software/CellRanger/cellranger*
Software/CellRanger/refdata*
Software/UserDirs/*
Software/Rstudio/*

## keep software install starters
!Software/InstallMiniconda3.sh

# nohup stuff
*nohup.out


# Keep out SIF images
*.sif
*.simg
*cache/*
Software/cache/


# Workshops

# Core_CommandLine/
Workshops/Core_CommandLine/Files/*gtf
Workshops/Core_CommandLine/Files/*.gz



# Will's workshop
Workshops/IntroToEWAS/data/*

