# Keep all READMEs
!README.md

# Keep shell scripts, they small and useful
!*.sh

# ignore contents inside
# Databases
Databases/References/GRCh37/*
Databases/References/GRCh38/*
Databases/References/mm10/*
Databases/Generic/*

# Open data
OpenData/ThousandGenomes/Raw/*
OpenData/ThousandGenomes/Processed/*
OpenData/Geuvadis/Raw/*
OpenData/Geuvadis/Processed/*
OpenData/ThousandGenomes/HD_SNP_Chip/*

# Workshop data
Workshops/IntroToEWAS/data/*

# Software
Software/miniconda3/*
Software/CellRanger/cellranger*
Software/CellRanger/refdata*
Software/UserDirs/*
Software/Rstudio/*
Software/nf_singularity_cache/*
Software/SRATools/sratoolkit*

## keep software install starters
!Software/InstallMiniconda3.sh

# nohup stuff
*nohup.out


# Keep out SIF images
*.sif
*.simg
*cache/*
Software/cache/


# Workshops

# Core_CommandLine/
Workshops/Core_CommandLine/Files/*gtf
Workshops/Core_CommandLine/Files/*.gz

# Nextflow
Workshops/Nextflow/nextflow_toy_data/*
Workshops/Nextflow/lib/*
Workshops/Nextflow/bin/*
Workshops/Nextflow/nfcore_rnaseq_out/*




# Will's workshop
Workshops/IntroToEWAS/data/*

.Rproj.user

# Github workshop
Workshops/github/.DS_Store
Workshops/github/.Rhistory
Workshops/github/.Rproj.user
Workshops/github/slides/.DS_Store

# scRNAseq
Workshops/scRNAseq/oci/*
Workshops/scRNAseq/*sif

# SNP associations
Workshops/SNP_associations/*
Workshops/SNP_associations/logs/*
Workshops/SNP_associations/oci/*
Workshops/SNP_associations/R_Libs_4.2.0/*
Workshops/SNP_associations/gwas_software/*
Workshops/SNP_associations/software/*
Workshops/SNP_associations/shared/*

# Omics exploration
Workshops/omics_exploration/.cache/
Workshops/omics_exploration/.config/
Workshops/omics_exploration/.local/
Workshops/omics_exploration/connection*
Workshops/omics_exploration/error.txt
Workshops/omics_exploration/output.txt
Workshops/omics_exploration/slides/iris.txt
Workshops/omics_exploration/slides/libs/header-attrs-2.14/
Workshops/omics_exploration/slides/phate.csv
Workshops/omics_exploration/R_Libs_4.1.0/
Workshops/omics_exploration/cache/
Workshops/omics_exploration/rpystudio.sif

# Biomarker discovery
Workshops/biomarker_discovery/.DS_Store
Workshops/biomarker_discovery/.Rhistory
Workshops/biomarker_discovery/.Rproj.user
Workshops/biomarker_discovery/slides/.DS_Store
Workshops/biomarker_discovery/.config/
Workshops/biomarker_discovery/.local/
Workshops/biomarker_discovery/R_Libs_4.1.0/
Workshops/biomarker_discovery/cache/
Workshops/biomarker_discovery/connection_3977362.pbsha.ib.sockeye.txt
Workshops/biomarker_discovery/slides/libs/*
Workshops/omics_exploration/rpystudio.sif

# unsupervised data integration
Workshops/unsupervised_data_integration/.cache/
Workshops/unsupervised_data_integration/.config/
Workshops/unsupervised_data_integration/.local/
Workshops/unsupervised_data_integration/connection*
Workshops/unsupervised_data_integration/error.txt
Workshops/unsupervised_data_integration/output.txt
Workshops/unsupervised_data_integration/slides/iris.txt
Workshops/unsupervised_data_integration/slides/libs/*
Workshops/unsupervised_data_integration/R_Libs_4.1.0/
Workshops/unsupervised_data_integration/cache/
Workshops/unsupervised_data_integration/rpystudio.sif
Workshops/unsupervised_data_integration/model.hdf5
Workshops/unsupervised_data_integration/.Rproj.user
Workshops/unsupervised_data_integration/.bash_history
Workshops/unsupervised_data_integration/.python_history*

# supervised data integration
Workshops/supervised_data_integration/.cache/
Workshops/supervised_data_integration/.config/
Workshops/supervised_data_integration/.local/
Workshops/supervised_data_integration/connection*
Workshops/supervised_data_integration/error.txt
Workshops/supervised_data_integration/output.txt
Workshops/supervised_data_integration/slides/iris.txt
Workshops/supervised_data_integration/slides/libs/*
Workshops/supervised_data_integration/R_Libs_4.1.0/
Workshops/supervised_data_integration/cache/
Workshops/unsupervised_data_integration/rpystudio.sif
Workshops/unsupervised_data_integration/.Rproj.user
Workshops/unsupervised_data_integration/.Rhistory

# DLC
Workshops/DLC_intro/data/*
Workshops/DLC_intro/projects/*
