
// -----
// Paths
// -----

WORK_DIR = '/mnt/scratch/Public/WorkLearn2022/BuildControlCohort/'

// -------------------
// Process parameters
// -------------------

process {
    conda = '/home/BCRICWH.LAN/Derek.Tam/miniconda3/envs/build-control-cohort'
    executor = 'pbspro'
    queue = 'sockeye'
    clusterOptions = '-A st-karsan-1'

    withLabel: cores_1 {
        cpus = 1
        memory = '4 GB'
    }

    withLabel: cores_8 {
        cpus = 8
        memory = '32 GB'
    }
}

executor {
    queueSize = 4
}

// -----
// Conda
// -----

conda {
    enabled = true
    cacheDir = ".env"
}

// ---------
// Reporting
// ---------

report {
    enabled = true
    file = 'reports/RnaProcessing_report.html'
}

timeline {
    enabled = true
    file = 'reports/RnaProcessing_timeline.html'
}

// ------
// Parameters
// ------

params {
    pub_dir = WORK_DIR + 'RNA2_quants'
    sample_ids = WORK_DIR + 'igsr_Geuvadis_metadata_sample30.tsv'
    fastq_dir = WORK_DIR + 'RNA2'

    // HISAT2 specific parameters
    hisat2_splicesites = '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME/GENCODE/HISAT2/gencode.v38.annotation.gtf.hisat2.splicesites.tsv'
    hisat2_index = '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME/GENCODE/HISAT2/GRCh38_GENCODEv38_TranscriptAware'

    // featureCounts specific parameters 
    featureCounts_gtf = '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME/GENCODE/gencode.v38.annotation.gtf'
}

